body, html {
    margin: 0;
    padding: 0;
}

/* Global Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

/* Header Styles */
.header {
    background: linear-gradient(to right, #0077b6, #005e8d);
    color: #fff;
    padding: 20px 0;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.header h1 {
    font-size: 48px;
    margin: 0;
}

/* Navigation Styles */
nav {
    background-color: #333;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

nav a:hover {
    background-color: #444;
    color: #00a8e8;
}

/* Sidebar Styles */
.sidebar {
    position: fixed;
    width: 0;
    height: 100%;
    background-color: #333;
    overflow-x: hidden;
    transition: width 0.3s;
    padding-top: 60px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
}

.sidebar a {
    padding: 15px;
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    display: block;
    transition: background-color 0.3s, color 0.3s;
}

.sidebar a:hover {
    background-color: #444;
    color: #00a8e8;
}

.closebtn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
}

.menuicon {
    font-size: 36px;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.7); /* Use a semi-transparent black color for the menu icon */
    position: absolute;
    top: 20px; /* Adjust the vertical position */
    left: 20px; /* Adjust the horizontal position */
    z-index: 2; /* Ensure the icon is above other content */
    background-color: rgba(255, 255, 255, 0.5); /* Add a semi-transparent white background */
    border-radius: 50%; /* Make the background circular */
    padding: 10px; /* Adjust padding for spacing */
}

/* Main Content Styles */
.main-content {
    padding: 40px;
}

/* Hero Section Styles */
.hero {
    background-image: url("https://i.postimg.cc/xjb54zVz/mbg-1.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: 120px 0;
    text-align: center;
    color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.hero h2 {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 20px;
    margin-bottom: 40px;
}

/* Features Section Styles */
.features {
    padding: 40px 0;
}

.features h2 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 40px;
}

.feature-box-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.feature-box {
    flex: 1;
    padding: 30px;
    margin: 20px;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    border-radius: 10px;
    transition: transform 0.3s;
}

.feature-box h3 {
    font-size: 28px;
    margin-bottom: 10px;
}

.feature-box:hover {
    transform: translateY(-10px);
}

/* Call to Action Styles */
.cta {
    background: linear-gradient(to right, #0077b6, #005e8d);
    color: #fff;
    text-align: center;
    padding: 80px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.cta h2 {
    font-size: 40px;
    margin-bottom: 20px;
}

.cta p {
    font-size: 22px;
    margin-bottom: 40px;
}

.links {
    display: flex;
    justify-content: center;
}

.calculate-button {
    padding: 15px 40px;
    background-color: #00a8e8;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
    margin: 0 20px;
    border-radius: 8px;
    transition: background-color 0.3s;
}

.calculate-button:hover {
    background-color: #0077b6;
    color: #fff;
}

/* Testimonials Section Styles */
.testimonials {
    padding: 40px 0;
    background-color: #f9f9f9;
}

.testimonials h2 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 40px;
}

.testimonial {
    padding: 20px;
    margin: 20px 0;
    text-align: center;
    transition: transform 0.3s;
}

.testimonial:hover {
    transform: scale(1.05);
}

.testimonial p {
    font-size: 20px;
    margin-bottom: 10px;
}

.testimonial cite {
    font-size: 18px;
}

/* Footer Styles */
footer {
    text-align: center;
    padding: 20px 0;
    background: linear-gradient(to right, #0077b6, #005e8d);
    color: #fff;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.footer:hover {
    background: linear-gradient(to right, #005e8d, #004c6d);
}

/* Mobile Styles */
@media only screen and (max-width: 768px) {
    .container {
        padding: 10px;
        width: 95%;
    }

    /* Header Styles */
    .header h1 {
        font-size: 32px;
    }

    /* Navigation Styles */
    nav ul {
        padding: 5px;
    }
    nav ul li {
        display: block;
        margin-bottom: 10px;
    }
    nav a {
        font-size: 16px;
        padding: 8px 16px;
    }

    /* Sidebar */
    .sidebar {
        padding-top: 40px;
    }
    .closebtn {
        font-size: 24px;
    }

    /* Main Content Styles */
    .main-content {
        padding: 20px;
    }

    /* Hero Section Styles */
    .hero {
        padding: 60px 0;
    }
    .hero h2 {
        font-size: 32px;
    }
    .hero p {
        font-size: 16px;
        margin-bottom: 20px;
    }

    /* Features Section Styles */
    .features h2 {
        font-size: 28px;
        margin-bottom: 30px;
    }
    .feature-box-container {
        flex-direction: column;
    }
    .feature-box {
        margin: 10px 0;
        padding: 20px;
    }
    .feature-box h3 {
        font-size: 24px;
    }

    /* Call to Action Styles */
    .cta h2 {
        font-size: 32px;
        margin-bottom: 15px;
    }
    .cta p {
        font-size: 18px;
        margin-bottom: 30px;
    }
    .calculate-button {
        font-size: 20px;
        padding: 10px 30px;
        margin: 10px 0;
    }

    /* Testimonials Section Styles */
    .testimonials h2 {
        font-size: 28px;
        margin-bottom: 30px;
    }
    .testimonial {
        padding: 15px;
    }
    .testimonial p {
        font-size: 18px;
    }
    .testimonial cite {
        font-size: 16px;
    }

    /* Footer Styles */
    footer {
        padding: 15px 0;
    }
}
